.register{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        rgba(255,255,255,0.5),
        rgba(255,255,255,0.5)) ,
    url("http://localhost:5000/images/1676817999387RegistrierenRaben.jpg");
    background-size: cover;

}

.registerTitle{
    font-size: 50px;
}

.registerForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.registerForm >label {
    margin: 10px 0;
}

.registerInput{
    padding: 10px;
    background-color: white;
    border: none;
    width: 250px;
}

.registerButton{
    margin-top: 20px;
    background-color: rgba(101, 176, 227);
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.registerLoginButton{
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: rgb(121, 184, 72);
    border: none;
    padding: 10px;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}